span.spacer{
    height: 20vh;
  }
.timer-container {
    text-align: center;
    
    height: 150vh;
  }
  
  input {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
  .border{
    margin-top: 220px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  